.para{
    background-color: aqua;
    color: rgb(90, 90, 22);
    border: 2px solid green;
    display: inline-block;
}
.newclass{
    color: rgb(237, 237, 86);
    border: 2px solid rgb(0, 1, 0);
    display: inline-block;
}